.wrapped-shadow-panel {
  background-color: var(--shadow);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;

  display: none;
  position: fixed;
}

.wrapped-window-panel {
  transition: all 0.3s ease;

  background-color: var(--white-normal);
  top: 45%;
  left: 50%;
  z-index: 4;
  border-radius: 8px;
  box-shadow: 2px 4px 8px var(--shadow);
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  position: absolute;
}

#wrapped-window-panel-info .window-body {
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  max-height: 235px;
}
#wrapped-window-panel-info {
  width: calc(100% - 65px);
  max-width: 400px;
  max-height: 355px;
  padding-top: 8px;
  height: 70%;
}

#wrapped-window-panel-redact {
  max-width: 550px;
  max-height: 415px;

  width: 70%;
  height: 70%;
}

#wrapped-window-panel-confirm {
  max-width: 325px;
  min-width: 275px;

  max-height: 250px;
  width: 60%;
}

/* #wrapped-window-panel-confirm .line-horizontal:last-of-type {
  display: none;
} */

.window-panel {
  width: 100%;
  max-height: 78px;
  min-height: 52px;

  padding: 0 25px;

  display: flex;
  align-items: end;
  justify-content: space-between;
}

#add_student,
#edit_student {
  display: none;
}

.text-window-title {
  transition: all 0.3s ease;

  color: var(--darkblue);
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 48px;

  font-family: var(--font-decorative);
  text-align: left;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

#text-delete {
  font-size: 36px;
  line-height: 36px;
}

.icon-close-window {
  width: 42px;
  height: 42px;
  cursor: pointer;
  margin-bottom: 3px;
}

.line-horizontal {
  background-color: var(--darkblue);
  height: 4px;
  margin: 0px 25px;

  border: none;
}

#form-student {
  min-height: 175px;
  max-height: 225px;
  display: flex;

  width: 100%;
}

#fieldset-student {
  width: 100%;
  height: 100%;

  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-item {
  width: 100%;
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#wrapped-window-panel-info .form-item {
  justify-content: left;
  padding: 0 25px;
}

.form-item .text-property,
.form-item label {
  color: var(--darkblue);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.75px;
  min-width: 105px;

  font-family: var(--font-informative);
  text-align: left;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

.form-item select,
.form-item input {
  background-color: var(--white-accent);
  color: var(--darkblue);
  width: 65%;
  min-width: 100px;
  height: 28px;
  padding-left: 12px;
  border: 2px solid var(--darkblue);
  border-radius: 5px;
}

.form-item .text-value {
  color: var(--darkblue);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.75px;

  font-family: var(--font-informative);
  text-align: left;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.form-item select,
.form-item input {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  font-family: var(--font-informative);
  text-align: left;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.form-item select {
  padding-left: 9px;
}

.window-control-panel {
  width: 100%;
  min-height: 54px;
  max-height: 68px;

  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  padding: 25px 25px;
  padding-top: 15px;
}

.window-body {
  flex: 1.25;
  width: 100%;
  padding: 25px;
  display: flex;
}

.window-button-rev,
.window-button {
  color: var(--darkblue);
  background-color: var(--white-normal);

  width: 15%;
  min-width: 75px;
  max-width: 100px;
  height: 32px;
  /* margin-top: 15px; */
  border: 2px solid var(--darkblue);
  border-radius: 6px;

  font-size: 14px;
  letter-spacing: 0.75px;
  font-family: var(--font-informative);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.window-button-rev {
  color: var(--white-normal);
  background-color: var(--darkblue);
  border: 2px solid var(--darkblue);
}

.window-button-rev:hover {
  /* font-weight: normal; */
  font-size: 15px;
}

.text-confirm-window {
  color: var(--darkblue);
  font-size: 16px;
  font-family: var(--font-informative);
  font-weight: bold;
  align-content: center;
}

.text-confirm {
  color: var(--darkblue);
  transition: all 0.1s ease;
  font-size: 14px;
  font-family: var(--font-informative);
  font-weight: bold;
  text-align: start;
  opacity: 0;
  cursor: default;
}

.window-button:hover {
  font-size: 15px;
  background-color: var(--white-accent);
}

#button-confirm,
#button-create,
#button-save {
  display: none;
}

@media screen and (max-width: 650px) {
  .form-item {
    padding: 0px 25px;
  }
  /* #wrapped-window-panel-info {

    width: 80%;
  } */

  #wrapped-window-panel-redact {
    max-width: calc(100% - 66px);
    width: calc(100% - 66px);
  }
  .text-window-title {
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 40px;
  }
}

@media screen and (max-width: 450px) {
  #wrapped-window-panel-redact {
    max-width: calc(100% - 36px);
    width: calc(100% - 36px);
  }
  .form-item {
    padding: 0px;
  }
  #wrapped-window-panel-info .form-item {
    padding: 0 0px;
  }
}
