:root {
	--transperent: rgba(0, 0, 0, 0);
	--shadow:  #20222bcb;

	--white-shadow: rgb(146, 166, 184);
	--white-normal: aliceblue;
	--white-accent: white;
/* 
	--darkblue: #273b4a;

	--header-normal: #273b4a;
	--header-accent: #1e2e3a;

	--aside-normal: #476074; */

	--darkblue: #33363F;

	--header-normal: #33363F;
	--header-accent: #20222b;

	--aside-normal: #4f535f;


	/* --darkblue: #33363F;

	--header-normal: #93AB9D;
	--header-accent: #6c8878;

	--aside-normal: #c4d6cc; */

	/* --header-normal: cadetblue;
	--header-accent: teal;

	--aside-normal: rgb(139, 193, 196); */

	--font-decorative:  Cambria, Cochin, Georgia, serif;
	--font-informative: 'Arial Narrow', Arial, sans-serif;
}