.wrapper-sidebar {
    background-color: var(--aside-normal);
    width: 225px;
    height: 100vh;
    padding-top: 56px;
    position: fixed;
    z-index: 1;
    display: block;
    transition: all 0.3s ease-out;
    
}

.wrapper-sidebar.no-transition {
    transition: none !important;
}
.wrapper-sidebar.no-transition .sidebar-menu {
    transition: none !important;
}

.sidebar-menu {
    pointer-events: auto;
    user-select: auto;
    opacity: 1;
    width: 100%;
    height: 100%;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    transition: all 0.14s ease-in;
}

.sidebar-menu-item {
    color: var(--white-normal);
    width: calc(100% + 25px);
    padding-left: 50px;
    font-size: 20px;
    line-height: 56px;
    letter-spacing: 1px;
  
    font-family: var(--font-decorative);
    text-align: center;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;

    display: inline-flex;
    align-items: center;
    position: relative;
    left: -25px;
    transition: transform 0.2s ease;
}
.sidebar-menu-item:hover:not(.active) {
    transform: translateX(25px);
}
.sidebar-menu-item.active {
    font-weight: bold;
    padding-left: 75px;
    position: relative;
}
.sidebar-menu-item.active::before {
    content: "";
    width: 12px;
    height: 12px;
    left: 56px;
    top: 50%;

    background-image: url('../img/icon/menu_opt.png');
    background-size: contain;
    background-repeat: no-repeat;
    
    position: absolute;
    transform: translateY(-50%);
}

.burger-menu {
    transition: all 0.3s ease;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: var(--aside-normal);
}

.icon-burger-menu {
    width: 48px;
    height:48px;
}

#sidebar-body.sidebar-open .wrapper-sidebar {
    width: 225px;
}
#sidebar-body.sidebar-open .burger-menu {
    background-color: var(--aside-normal);
}
#sidebar-body.sidebar-open .wrapper-sidebar .sidebar-menu {
    pointer-events: auto;
    user-select: auto;
    opacity: 1;
}

@media screen and (max-width: 1100px) {
    .burger-menu {
        width: 52px;
        height: 52px;
        background-color: var(--darkblue);
        top: 85px;
        left: 32px;
        border-radius: 8px;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        opacity: 1;
        transition: background-color 1s ease;
    }
    .wrapper-sidebar {
        width: 0px;
    }
    .sidebar-menu {
        pointer-events: none;
        user-select: none;
        opacity: 0;
    }
}

@media screen and (max-width: 650px) {
    .burger-menu {
        transition: all 0.1s ease, background-color 1s ease-out;

        width: 40px;
        height: 40px;
        
        top: 77px;
        left: 33px;
    }
    .icon-burger-menu {
        width: 36px;
        height:36px;
    }
}