<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
    <!-- <link rel="stylesheet" href="../css/sidebar.css" /> -->
  </head>
  <body >
    <div class="sidebar-body" id="sidebar-body">
      <div class="burger-menu" id="burger-menu">
        <img src="/img/burger_rev.png" class="icon-burger-menu" id="icon-burger-menu" alt="burger menu">
      </div>
  
      <aside class="wrapper-sidebar" id="wrapper-sidebar">
        <nav>
          <ul class="sidebar-menu" id="sidebar-menu">
            <li><a class="sidebar-menu-item" href="./dashboard.html">Dashboard</a></li>
            <li><a class="sidebar-menu-item" href="./students.html">Students</a></li>
            <li><a class="sidebar-menu-item" href="./tasks.html">Tasks</a></li>
          </ul>
        </nav>
      </aside>
    </div>
    
  </body>
</html>
